RestService/src/main/resources/wsdl/operations.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://technicaltest.com/web-service-soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://technicaltest.com/web-service-soap" targetNamespace="http://technicaltest.com/web-service-soap">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://technicaltest.com/web-service-soap">
            <xs:element name="getOperationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="numOne" type="xs:double"/>
                        <xs:element name="numTwo" type="xs:double"/>
                        <xs:element name="operator" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:double"/>
                        <xs:element name="errorMessage" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getOperationRequest">
        <wsdl:part element="tns:getOperationRequest" name="getOperationRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOperationResponse">
        <wsdl:part element="tns:getOperationResponse" name="getOperationResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OperationPort">
        <wsdl:operation name="getOperation">
            <wsdl:input message="tns:getOperationRequest" name="getOperationRequest"> </wsdl:input>
            <wsdl:output message="tns:getOperationResponse" name="getOperationResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OperationPortSoap11" type="tns:OperationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getOperation">
            <soap:operation soapAction=""/>
            <wsdl:input name="getOperationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOperationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OperationPortService">
        <wsdl:port binding="tns:OperationPortSoap11" name="OperationPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>